/* .posts {
    height: 200px;
    background-color: blueviolet;
}

.subAmount {
    margin-top: 20px;
    height: 100px;
    background-color: blueviolet;
}

.newUser{
    height: 100px;
    margin-bottom: 20px;
    background-color: blueviolet;
}

.accessToday {
    height: 100px;
    background-color: blueviolet;

}

#share {
    display: inline-block;
    height: 100px;
    width: 90px;
    background-color: blueviolet;
}

#likes {
    display: inline-block;
    height: 100px;
    width: 90px;
    background-color: blueviolet;
}

.chartUsers {
    width: 400px;
    background-color: blueviolet;
} */